.App {
  text-align: center;
  width: 100%;
}

:root {
  --column-count: 4;
  --reduced-column-count: 2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 360px) {
  .grid {
    grid-template-columns: repeat(var(--reduced-column-count), 1fr);
  }
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: repeat(var(--column-count), 1fr);
  }
}

.grid-cell {
  padding: 2px;
  border: 1px solid black;
}

.grid-cell input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  font-size: calc(10px + 1vmin);
}
